/* By Cristian Franco Bedoya */

* {
    box-sizing: border-box;
}

body {
    font-family: 'et-line', sans-serif;
    margin: 0;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

body p, body input, body textarea {
    font-size: 0.8rem;
    color: #9b9b9b;
}

body i {
    font-family: 'et-line';
    color: #9b9b9b;
}

b {
    color: black;
}

/* CAROUSEL SECTION */

#carouselSection a {
    color: inherit;
    text-decoration: none;
}

#carouselSection a:hover, #carouselSection .carousel-button:hover, #carouselSection .carousel-button-2:hover {
    color: #62C6B0;
}

#carouselSection .carousel-button-2:visited, #carouselSection .carousel-button-2:active, #carouselSection .carousel-button-2:focus {
    background-color: #eea122;
    border-color: #eea122;
}

.carousel-caption {
    padding: 5px;
    right: -3%;
    margin-top: 5%;
}

.carousel-item img {
    width: 100%;
    position: relative;
    height: 100%;
}

.carousel-caption button {
    margin: 4px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.75rem;
}

.carousel-caption p {
    color: white;
    font-size: 1.125rem;
}

.carousel-button {
    border: 3px solid white;
}

.carousel-button-2 {
    background: #62C6B0;
    border-color: #62C6B0;
    border: 3px solid #62C6B0;
}

/* NAVIGATION BAR */

#navigation-bar {
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.navbar-collapse {
    text-align: center;
}

#navigation-bar .active {
    color: #62C6B0;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, 0);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 198, 176, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* WHAT WE DO SECTION */

#what-we-do {
    padding: 100px;
}

.what-we-do__card {
    padding-bottom: 30px;
}

#what-we-do i {
    font-size: 1.875rem;
    padding-top: 2px;
}

#what-we-do strong {
    color: #7bcdb8;
}

#what-we-do h3 {
    font-size: 1.25rem;
}

#what-we-do p {
    color: #878787;
}

.what-we-do__header {
    margin-bottom: 60px;
}

/* ABOUT SECTION */

#about {
    padding: 70px;
    padding-top: 100px;
    background: #f9f9f9;
}

/* Container needed to position the overlay. Adjust the width as needed */

.help {
    position: relative;
    width: auto;
    max-width: auto;
}

/* Make the image to responsive */

.image {
    display: block;
    width: 100%;
    height: auto;
}

/* The overlay effect - lays on top of the container and over the image */

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(250, 250, 250, 0.877);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 1.25rem;
    padding: 15px;
    text-align: center;
}

/* When you mouse over the container, fade in the overlay title */

.help:hover .overlay {
    opacity: 1;
}

/* TEAM SECTION */

#team i {
    font-size: 0.5em;
    width: 2.5em;
    text-align: center;
    line-height: 2.5em;
    background: black;
    color: #fff;
    border-radius: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
}

#team {
    padding: 10%;
}

.team__header {
    margin-bottom: 50px;
}

#team h2 {
    text-align: center;
}

#team>p {
    padding: 10px;
}

#team p {
    text-align: center;
}

#team h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 1.25rem;
}

/* PORTFOLIO SECTION */

#portfolio {
    padding: 80px;
    background: #f9f9f9;
}

#portfolio h2 {
    text-align: center;
}

#portfolio p {
    text-align: center;
    margin-bottom: 50px;
}

.card-img-overlay .card-text {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-size: 0.813rem;
}

.portfolio-image {
    padding: 10px;
}

.portfolio_card i {
    display: none;
    margin-top: 40%;
    margin-left: 42%;
    vertical-align: middle;
    text-align: center;
    transform: rotate(90deg);
    font-size: 1rem;
    width: 2.5em;
    line-height: 2.5em;
    background: #fff;
    color: #62C6B0;
    border-radius: 1.5em;
}

.portfolio_card:hover i {
    display: block;
}

.portfolio_card .card-title {
    display: none;
    vertical-align: middle;
    text-align: center;
    font-size: 1.125rem;
}

.portfolio_card:hover h3 {
    display: block;
}

.portfolio_card h3 {
    margin-top: 12%;
}

.portfolio_card>p {
    display: none;
    vertical-align: middle;
    text-align: center;
    font-size: 0.625rem;
}

.portfolio_card:hover>p {
    display: block;
}

.card_overlay:hover, .card_overlay:active {
    background-color: rgba(98, 198, 176, 0.8);
}

/* BLOG SECTION */

#blog {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
}

#blog .card:hover {
    background-image: url(../images/hover-image.jpg);
    background-size: 100% auto;
    overflow: hidden;
    border: none;
    color: #62C6B0;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

#blog .card:hover {
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
}

#blog h2 {
    text-align: center;
}

#blog h3 {
    font-size: 1rem;
}

#blog>p {
    text-align: center;
    margin-bottom: 50px;
}

#blog .card {
    margin-bottom: 20px;
    padding: 20px;
    height: 90%;
}

/* QUESTIONS SECTION */

#questions {
    padding: 100px;
    background: #f9f9f9;
}

#questions h2 {
    text-align: center;
}

#questions h3 {
    font-size: 1rem;
}

#questions>p {
    text-align: center;
    margin-bottom: 50px;
}

#questions i {
    margin-right: 1%;
}

#questions .card-text {
    padding-top: 0.5rem;
    border: none;
}

/* TESTIMONIAL SECTION */

#testimonial-section h2 {
    text-align: center;
}

#testimonial-section h3 {
    font-size: 0.8rem;
}

#testimonial-section>p {
    text-align: center;
}

#testimonial-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#testimonial-section .carousel-indicators li {
    font-size: 0.875rem;
    background-color: #62C6B0;
    border-radius: 100px;
    height: 10px;
    line-height: 32px;
    width: 10px;
}

#testimonial-section li {
    background-color: #62C6B0;
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid #62C6B0;
}

#testimonial-section .carousel-indicators {
    top: 200px;
}

#testimonial-section .carousel-item {
    margin-top: 5%;
}

#testimonial-section .card {
    border: none;
}

#testimonial-section2 h2 {
    text-align: center;
}

#testimonial-section2 h3 {
    font-size: 0.9rem;
    padding-left: 0.8rem;
}

#testimonial-section2>p {
    text-align: center;
}

#testimonial-section2 .card p {
    font-size: 1rem;
    padding-left: 15px;
}

#testimonial-section2 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 50px;
}

#testimonial-section2 .carousel-indicators li {
    font-size: 0.875rem;
    background-color: #62C6B0;
    border-radius: 100px;
    height: 10px;
    line-height: 32px;
    width: 10px;
    border: 1px solid #62C6B0;
    display: block;
}

#testimonial-section2 .carousel-indicators {
    top: 110%;
}

#testimonial-section2 .carousel-item {
    margin-top: 5%;
}

#testimonial-section2 .card {
    border: none;
}

/* GET IN TOUCH SECTION */

#get-in-touch {
    padding: 100px;
    background: #f9f9f9;
}

#get-in-touch h2 {
    text-align: center;
}

#get-in-touch>p {
    text-align: center;
    margin-bottom: 60px;
}

#get-in-touch input, #get-in-touch textarea {
    background: #f9f9f9;
    margin: 10px;
}

.get-in-touch__button {
    background: #62C6B0;
    border-color: #62C6B0;
}

.get-in-touch__button:hover {
    background: white;
    color: #62C6B0;
}

/* FOOTER */

#main-footer {
    padding: 50px;
}

#main-footer h2 {
    text-align: center;
}

#main-footer>p {
    text-align: center;
}

#main-footer i {
    font-size: 0.8em;
    width: 2.5em;
    text-align: center;
    line-height: 2.5em;
    background: black;
    color: #fff;
    border-radius: 1.5em;
    margin-left: 5px;
    margin-right: 5px;
}