/* By Cristian Franco Bedoya */

@media screen and (max-width: 575px) {
    /* CAROUSEL SECTION */
    .carousel-caption {
        right: -40%;
    }
    .carousel-button-2 {
        display: none;
    }
    .w-100 {
        width: 70rem !important;
        position: relative;
        right: 80%;
    }
    /* WHAT WE DO SECTION */
    #what-we-do {
        padding-left: 30px;
        padding-right: 30px;
    }
    /* ABOUT SECTION */
    #about {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* TEAM SECTION */
    #team {
        padding-left: 5px;
        padding-right: 5px;
    }
    .team-section__row p {
        padding-bottom: 30px;
    }
    /* PORTFOLIO SECTION */
    #portfolio {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* BLOG SECTION */
    #blog {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* QUESTIONS SECTION */
    #questions {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* TESTIMONIAL SECTION */
    #testimonial-section {
        margin-left: 10px;
        margin-right: 12px;
        padding-bottom: 100px;
    }
    #testimonial-section .carousel-indicators {
        top: 300px !important;
    }
    #testimonial-section2 {
        padding-right: 15px;
        padding-left: 15px;
        display: none;
        margin: -140px;
    }
    #testimonial-section2 .carousel-indicators {
        top: 280px !important;
    }
    /* GET IN TOUCH SECTION */
    #get-in-touch {
        padding-left: 20px;
        padding-right: 20px;
    }
    #get-in-touch button {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    .get-in-touch__form {
        padding-right: 7%;
    }
}

@media screen and (min-width: 576px) {
    /* NAVBAR  */
    .navbar {
        padding-left: 80px;
        padding-right: 80px;
        font-size: 12px;
    }
    /* TESTIMONIAL SECTION */
    #testimonial-section {
        display: none;
        margin: -140px;
    }
    /* GET IN TOUCH SECTION */
    #get-in-touch button {
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /* CAROUSEL SECTION */
    .carousel-caption {
        right: -40%;
        margin-top: 0%;
    }
    /* WHAT WE DO SECTION */
    #what-we-do p {
        font-size: 12px;
    }
    #what-we-do h2 {
        font-size: 18px;
    }
    #what-we-do i {
        font-size: 20px !important;
        padding-top: 2px !important;
    }
    /* ABOUT SECTION */
    #about {
        padding-right: 150px;
    }
    /* TESTIMONIAL SECTION */
    #testimonial-section2 {
        padding-bottom: 50px;
    }
    #testimonial-section2 .carousel-indicators {
        top: 110% !important;
    }
}