* {
    font-family: et-line;
}

#navigation-bar {
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    /* border-bottom: 0.01px solid gray; */
    z-index: 1;
}

#what-we-do {
    padding: 100px;
}

.what-we-do__header {
    margin-bottom: 60px;
}

#about {
    padding: 100px;
    background: #f9f9f9;
}

#team {
    padding: 100px;
}

.team__header {
    margin-bottom: 40px;
}

#team h1 {
    text-align: center;
}

#team > p {
    padding: 10px;
}

#team p {
    text-align: center;
}

#team h4 {
    margin-top: 30px;
    text-align: center;
}

.team-section__row {
    padding: 20px;
}

#portfolio {
    padding: 80px;
    background: #f9f9f9;
}

#portfolio h1 {
    text-align: center;
}

#portfolio p {
    text-align: center;
}

.portfolio-image {
    padding: 10px;
}

#blog {
    padding: 100px;
    display: block;
}

#blog h1 {
    text-align: center;
}

#blog > p {
    text-align: center;
}

#blog .card {
    margin: 20px;
    padding: 20px;
    /* width: 25rem; */
}

#questions {
    padding: 100px;
    background: #f9f9f9;
}

#questions h1 {
    text-align: center;
}

#questions > p {
    text-align: center;
}

#testimonial {
    padding: 100px;
}

#testimonial h1 {
    text-align: center;
}

#testimonial > p {
    text-align: center;
}

#get-in-touch {
    padding: 100px;
    background: #f9f9f9;
}

#get-in-touch h1 {
    text-align: center;
}

#get-in-touch > p {
    text-align: center;
}

#get-in-touch input, 
#get-in-touch textarea {
    background: #f9f9f9;
    margin: 10px;
}

#main-footer {
    padding: 100px;
}

#main-footer h1 {
    text-align: center;
}

#main-footer > p {
    text-align: center;
}