* {
    box-sizing: border-box;
}

body {
    font-family: et-line;
    /* margin: 0; */
}

.carousel-caption {
    padding: 5px;
    right: -3%;
    margin-top: 5%;
}

.carousel-caption button {
    margin: 4px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-button {
    border: 3px solid white;
}

.carousel-button-2 {
    background: #62C6B0;
    border-color: #62C6B0;
    border: 3px solid #62C6B0;
}

@media screen and (max-width: 576px) {
    .carousel-caption {
        right: -40%;
        margin-top: -4%;
    }
    .carousel-button {
        position: absolute;
        text-align: center;
    }
    .carousel-button-2 {
        visibility: collapse;
    }
    .w-100 {
        width: 70rem !important;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .carousel-caption {
        right: -40%;
        margin-top: 0%;
    }
}

#navigation-bar {
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#navigation-bar .active, .btn:hover {
    color: #62C6B0 !important;
    /* background-color: #62C6B0; */
}

@media screen and (min-width: 577px) {
    .navbar {
        padding-left: 80px;
        padding-right: 80px;
        font-size: 12px;
    }
}

.navbar-light .navbar-toggler {
    color: #62C6B0 !important;
    border-color: rgba(0, 0, 0, 0);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 198, 176, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#what-we-do {
    padding: 100px;
}

.what-we-do__card {
    padding-bottom: 30px;
}

@media screen and (max-width: 576px) {
    #what-we-do {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    #what-we-do p{
        font-size: 12px;
    }
    
    #what-we-do h2{
        font-size: 18px;
    }
    
    #what-we-do i {
        font-size: 20px !important;
        padding-top: 2px !important;
    }
}

#what-we-do i {
    font-size: 30px;
    padding-top: 2px;
}

#what-we-do strong {
    color: #7bcdb8;
}

#what-we-do h3 {
    font-size: 20px;
}

#what-we-do p {
    color: #878787;
}

.what-we-do__header {
    margin-bottom: 60px;
}

#about {
    padding: 70px;
    padding-top: 100px;
    background: #f9f9f9;
}

#about .container {
    /* padding: 0px;
    margin: 0; */
}

@media screen and (max-width: 576px) {
    #about {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #about {
        padding-right: 150px;
    }
}

#team {
    padding: 10%;
}

@media screen and (max-width: 576px) {
    #team {
        padding-left: 5px;
        padding-right: 5px;
    }
    .team-section__row p {
        padding-bottom: 30px;
    }
}

.team__header {
    margin-bottom: 50px;
}

#team h2 {
    text-align: center;
}

#team > p {
    padding: 10px;
}

#team p {
    text-align: center;
}

#team h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

/* .team-section__row {
    padding: 20px;
} */

#portfolio {
    padding: 80px;
    background: #f9f9f9;
}

@media screen and (max-width: 576px) {
    #portfolio {
        padding-left: 5px;
        padding-right: 5px;
    }
}

#portfolio h2 {
    text-align: center;
}

#portfolio p {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-image {
    padding: 10px;
}

#blog {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
}

#blog .card:hover {
    background-image: url(../assets/images/hover-image.jpg); 
    background-size: 100% auto;
    overflow: hidden;
    border: none;
    color:#62C6B0;
}

@media screen and (max-width: 576px) {
    #blog {
        padding-left: 5px;
        padding-right: 5px;
    }
}

#blog h1 {
    text-align: center;
}

#blog>p {
    text-align: center;
    margin-bottom: 50px;
}

#blog .card {
    margin-bottom: 20px;
    padding: 20px;
    /* width: 25rem; */
    height: 90%;
}

#questions {
    padding: 100px;
    background: #f9f9f9;
}

@media screen and (max-width: 576px) {
    #questions {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#questions h1 {
    text-align: center;
}

#questions>p {
    text-align: center;
    margin-bottom: 50px;
}

#testimonial-section h2 {
    text-align: center;
}

#testimonial-section > p {
    text-align: center;
}

#testimonial-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#testimonial-section .carousel-indicators li{
    /* background-image: none;
    color: #fff; */
    font-size: 14px;
    background-color:#62C6B0 !important;
    border-radius: 100px !important;
    height: 20px;
    line-height: 32px;
    width: 20px;
}

@media screen and (min-width: 577px) {
    #testimonial-section {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 576px) {
    #testimonial-section {
        padding-right: 15px;
        padding-left: 15px;
    }
    #testimonial-section .carousel-indicators{
        top: 280px !important;
    }
}

#testimonial-section li{
    background-color: #62C6B0 !important;
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid #62C6B0;
}

#testimonial-section .carousel-indicators{
    top: 200px;
}

#testimonial-section .carousel-item{
    /* padding-left: 25%; */
    margin-top: 5%;
}

#testimonial-section .card{
    /* border-color: white; */
    border: none;
}

#get-in-touch {
    padding: 100px;
    background: #f9f9f9;
}

@media screen and (max-width: 576px) {
    #get-in-touch {
        padding-left: 20px;
        padding-right: 20px;
    }
    #get-in-touch button {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 10px;
    }
    .get-in-touch__form {
        padding-right: 7%;
    }
}

#get-in-touch h1 {
    text-align: center;
}

#get-in-touch>p {
    text-align: center;
    margin-bottom: 60px;
}

#get-in-touch input, #get-in-touch textarea {
    background: #f9f9f9;
    margin: 10px;
}

@media screen and (min-width: 577px) {
    #get-in-touch button {
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 10px;
    }
}

#main-footer {
    padding: 50px;
}

#main-footer h1 {
    text-align: center;
}

#main-footer>p {
    text-align: center;
}

#main-footer i {
    font-size: 1em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    background: black;
    color: #fff;
    border-radius: 1em;
    margin: 10px;
}